/* Homepage */
.page {
    display: flex;
}

.sidenav {
    height: 100vh;
    width: 250px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3e3e3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.sidenav-actions > div {
    margin-bottom: 15px;
}

.logout {
    margin: auto auto 50px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.course-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-grid > div {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Registration/Log In */

/* Courses */
.container {
    display: flex;
    flex-direction: row;
}
.course-details-buttons > div {
    margin: 5px;
}

/* Modules */

/* Quiz */
