/* Homepage */
.page {
    /* display: flex; */
}

.sidenav {
    height: 100vh;
    width: 250px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.sidenav-actions > div {
    margin-bottom: 15px;
}

.logout {
    margin: auto auto 50px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    width: auto;
    margin: 0 auto;
}

.available-courses-container {
    display: flex;
    justify-content: space-between;
}

.course-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-grid > div {
    margin-right: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

/* Registration/Log In */

.container{
    text-align: center;
}

.home_form{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}

.login_page{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}

.sign_up_page{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}

/* Courses */
.course-info-container {
    display: flex;
}

.course-info-card {
    margin-right: 100px;
    width: 300px;
}

.course-details-modules {
    width: 300px;
}

#available_modules {
    padding-left: 0;
}

.module-list {
    list-style: none;
}

.course-details-buttons > div {
    margin: 5px;
}

.enrolled-courses-container {
    display: flex;
}

.completed-courses-card {
    margin-right: 100px;
    width: 300px;
}

.incomplete-course-card {
    width: 300px;
}

.incomplete-course-card > div > ul {
    padding-left: 0;
}

.enrolled-course-completed,
.enrolled-course-incomplete {
    list-style: none;
}


/* Modules */

/* Quiz */

/* Global styles */