<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  {% load user_filters %}
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.sortable.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <title>{% block title %}ICE{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ICE</a>
  </nav>
  <div class="page">
    {% if user.is_authenticated %}
    <div class="sidenav">
        <div class="sidenav-actions">
          {% if user|is_instructor %}
            <h3 class="text-center">Instructor Portal</h3>
            <div>
                <a class="btn btn-secondary w-100" href="{% url 'courses:add_course' %}">Create Course</a>
            </div>
            <div>
                <a class="btn btn-secondary w-100" href="{% url 'courses:add_course' %}">Quiz Bank</a>
            </div>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Courses
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">All Courses</a>
                    </div>
                </div>
          {% elif user|is_learner %}
            <h3 class="text-center">Employee Portal</h3>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'home'%}">All Courses</a>
                  <a class="dropdown-item" href="{% url 'courses:view_enrolled_course'%}">Uncompleted</a>
                  <a class="dropdown-item" href="{% url 'courses:view_enrolled_course'%}">Completed</a>
                  </div>
              </div>
          {% elif user|is_admin %}
            <h3 class="text-center">Admin Portal</h3>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Users
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'invite'%}">Invite Instructor</a>
                  <a class="dropdown-item" href="{% url 'restrict_access'%}">Restrict User</a>
                  </div>
              </div>
        </div>
        {% endif %}
        <a class="btn btn-primary logout w-100" href="{% url 'logout' %}">Log Out</a>
      </div>
      {% endif %}
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
