<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

  <script  src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <title>{% block title %}ICE{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
