<!-- templates/home.html-->
{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% if user|is_instructor %}
    <a href="{% url 'courses:add_course' %}">Create Course</a>
  {% endif %}
  Hi {{ user.username }}!
  <p>Available Courses</p>
    <ol>
    {% for course in courses %}
    <li><a href="{% url 'courses:view_course' course.id %}">{{ course.name }}</a></li>
    <p> {{ course.description }} <p>
    {% endfor %}
    </ol>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<div id="container">
<div id="home_form">
  <h2 class="alt-text">Welcome to ICE Portal</h2>
  <hr class="divider">
  <div id="login_form">
  <a id="login_button" href="{% url 'login' %}">Login</a>
  <a id="signup_button" href="{% url 'signup' %}">Signup</a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
