<!-- templates/home.html-->
{% extends 'base.html' %}
{% load user_filters %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div>
  <h1 class="display-4">Hi {{ user.username }}!</h1>
  {% if user|is_learner %}
  <h4>
    <a class="btn btn-info" href="{% url 'courses:view_enrolled_course'%}">My Enrolled Courses</a>
  </h4>
  {% endif %}
  </div>
      <div>
        <hr>
        <div class="available-courses-container">
          <h4>Available Courses</h4>
          <form action="" method="POST">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-light mb-3">Filter</button>
          </form>
        </div>
        <div class="course-grid">
        {% for course in courses %}
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ course.category }}</h6>
              <p class="card-text">{{ course.description }}</p>
              <a class="btn btn-secondary w-100" href="{% url 'courses:view_course' course.id %}" class="card-link">View Details</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
<div class="container">
<div class="home_form">
  <h2 class="alt-text">Welcome to ICE Portal</h2>
  <hr>
  <div class="login_form">
  <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
  <a class="btn btn-primary" href="{% url 'signup' %}">Signup</a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
