<!-- templates/home.html-->
{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1 class="display-4">Hi {{ user.username }}!</h1>
  <br>
  <h4>Available Courses</h4>
    <div class="course-grid">
      {% for course in courses %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ course.category }}</h6>
            <p class="card-text">{{ course.description }}</p>
            <a class="btn btn-secondary w-100" href="{% url 'courses:view_course' course.id %}" class="card-link">View Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
{% else %}
  <p class="alt-text">You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}