{% extends 'base.html' %}

{% block content %}

<div class="card bg-light mb-3">
		<div id="components">
		<h3 class="card-header">Module Components</h3>
			{% for component in components %}
				<div class="card-body" id="{{ component.id }}">
					<a id="{{ component.id }}">{{ component.title }}</a>
					{% with child_component=component.get_child_component %}
					<p>
						{{ child_component.get_html_representation }}
					</p>
					{% endwith %}
				</div>
			{% endfor %}
		</div>

</div>

{% if is_learner %}
	<p><a class="btn btn-primary" href="{% url 'courses:take_quiz' course_id=course_id module_id=module.id quiz_id=quiz.id %}">Take Quiz</a></p>
{% endif %}

{% endblock %}
