{% extends 'base.html' %}

{% block content %}

<div>
		<div id="components">
			{% for component in components %}
				<div id="{{ component.id }}">
					<a id="{{ component.id }}">{{ component.title }}</a>
					{% with child_component=component.get_child_component %}
					<p>
						{{ child_component.get_html_representation }}
					</p>
					{% endwith %}
				</div>
			{% endfor %}
		</div>
				
		{% if is_learner %}
		<p><a href="{% url 'courses:take_quiz' course_id=course_id module_id=module.id quiz_id=quiz.id %}">Quiz</a></p>
		{% endif %}

</div>

{% endblock %}
