<!-- All components in a course -->

{% extends 'base.html' %}

{% block content %}

<div class="course_components">
    <h3><a href="{% url 'courses:view_course' course_id=course.id %}">{{ course.name }}</a> > Components</h3>

    {% if course.is_deployed %}
    <p>The course is deployed, you are not allowed to add new component</p>
    {% else %}
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add new component</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'courses:new_component' course_id=course.id type='text' %}">
                Text
            </a>
            <a class="dropdown-item" href="{% url 'courses:new_component' course_id=course.id type='image' %}">
                Image
            </a>
        </div>
    </div>
    {% endif %}

    <table class="table">
        <tr>
            <th>Component title</th>
            <th>Module</th>
        </tr>
        {% for component in components %}
            {% with child_component=component.get_child_component %}
            <tr id="componentheader_{{ component.id }}">
                <td>
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#componentbody_{{ component.id }}">
                        {{ component.title }}
                    </button>
                </td>
                {% if component.module %}
                    <td>{{ component.module.title }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
    
            <tr >
                <td colspan="2" class="p-0">
                    <div id="componentbody_{{ component.id }}" class="collapse p-3">
                        <p>
                            {{ child_component.get_html_representation }}
                        </p>
                        <div class="font-italic">
                            Created {{ component.date_of_creation }}
                        </div>
                        <div class="font-italic">
                            Updated {{ component.date_of_last_update }}
                        </div>
                        <a class="btn btn-primary" href="{% url 'courses:edit_component' course_id=course.id component_id=component.id %}">
                            Edit component
                        </a>
                    </div>
                </td>
            </tr>
            {% endwith %}
        {% endfor %}
    </table>

</div>


{% endblock %}