<head>
  <title>Course Details</title>
</head>

<div class="container" style="padding-top:10px">
  <h4>Course Information</h4>
  <div class="row well">
    <div class="col-md-12">

      {% if course %}
      <p> Name: {{ course.name }}</p>
      <p> Category: {{ course.category }}</p>
      <p> Insructor: {{ course.instructor_name }}</p>
      <p> CECU Value: {{ course.cecu_value }} units</p>
      <p> Description: {{ course.description }}</p>

      </br>
      
      <h4> Modules </h4>
      <div id="moduleContainer">
        <ul class="nav nav-tabs" id="available_modules">
          <h5> Available Modules </h5>
          {% for module in available_modules %}
            <li role="presentation" id="{{ module.id }}">
              <a data-toggle="tab" href="{% url 'courses:load_components' course_id=course.id module_id=module.id %}">{{ module.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <br>

        <ul class="nav nav-tabs" id="locked_modules">
          <h5> Locked Modules </h5>
          {% for module in locked_modules %}
            <li role="presentation" id="{{ module.id }}">
              <p>{{ module.title }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>

      <h4>Components</h4>
      <a href="{% url 'courses:upload_image' course_id=course.id %}">Create An Image Component</a>

      </br>
      
      {% else %}
      <p>No course information available for this course</p>
      {% endif %}

    </div>
  </div>
</div>