{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}All Enrolled Courses{% endblock %}

{% block content %}
<div class="enrolled-courses-container" style="padding-top:10px">
  <h4>All Enrolled Courses</h4>
  <div class="row well">
    <div class="col-md-12">

      <div>
        <h4>Completed Courses</h4>
        {% if completed_enrollments %}
        <div class="row well">
          <div class="enrolled-course">
            {% for enrollment in completed_enrollments %}
                <div class="enrolled-course-completed">
                  <a href="{% url 'courses:view_course' course_id=enrollment.course.id %}">{{ enrollment.course.name }}</a>
                  <p>Completed Date: {{ enrollment.completed_date }}</p>
                <br>
            {% endfor %}
          </div>
        </div>
      </div>

      {% else %}
      <p>No completed course available</p>
      {% endif %}

      {% if not_completed_course %}
      <div>
        <h4>Incomplete Courses</h4>
        <div class="row well">
          <div class="enrolled-course">
            {% for course in not_completed_course %}
              <div class="enrolled-course-completed">
                  <a href="{% url 'courses:view_course' course_id=course.id %}">{{ course.name }}</a>
                <br>
          </div>
          {% endfor %}
        </div>
      </div>

      {% else %}
      <p>No in-progress course available</p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}