{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}All Enrolled Courses{% endblock %}

{% block content %}
<div class="enrolled-courses-container" style="padding-top:10px">
  <h3>All Enrolled Courses</h3>
  <div class="row well">
    <div class="col-md-12">

      <div>
        <h4>Completed Courses</h4>
        {% if completed_enrollments %}
        <div class="row well">
          <div class="enrolled-course">
            <div class="enrolled-course-completed">
              <table style="width:120%">
                <tr>
                  <th>Course</th>
                  <th>Date of Completetion</th>
                  <th>CECU Value</th>
                  <th>Cumulative CECU Value</th>
                </tr>
                <tr>
                {% for enrollment, cecu in completed_enrollments %}
                  <td><a href="{% url 'courses:view_course' course_id=enrollment.course.id %}">{{ enrollment.course.name }}</a></td>
                  <td>{{ enrollment.completed_date }}</td>
                  <td>{{ enrollment.course.cecu_value }}</td>
                  <td>{{ cecu }}</td>
                </tr>
                {% endfor %}
              </table>
            <br>
          </div>
        </div>
      </div>

      {% else %}
      <p>No completed courses</p>
      {% endif %}

      {% if not_completed_course %}
      <div>
        <h4>Incomplete Courses</h4>
        <div class="row well">
          <ul class="enrolled-course">
            {% for course in not_completed_course %}
              <li class="enrolled-course-completed">
                  <a href="{% url 'courses:view_course' course_id=course.id %}">{{ course.name }}</a>
                <br>
              </li>
          {% endfor %}
          </ul>
      </div>

      {% else %}
      <p>No in-progress courses</p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}