{% extends 'base.html' %}

{% block content %}
<h1>{{ course.name }} > {{ action_word }} Module</h1>

<form action="{% url 'new_module' course_id=course.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <!-- <div>
        <label for="module_title">Title: </label>
        <input id="module_title" type="text" name="module_title" />

        <label for="module_components">Components: </label>
        <select id="module_components"

        <label for="module_quiz">Quiz: </label>
        <select id="module_quiz" name=>

        </select>

        <input type="submit" value="OK" />
    </div> -->
</form>
{% endblock %}